@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  font-style: normal;
  src: local('Outfit'), url('Outfit-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 500;
  font-style: normal;
  src: local('Outfit'), url('Outfit-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  font-style: normal;
  src: local('Outfit'), url('Outfit-Bold.ttf') format('opentype');
}
